<header>
    <h1>Tag Manager</h1>
    <div class="buttons-container">
        <div class="left-buttons">
            <div class="input-parent">
                <img src="../../../assets/images/search.svg" alt="">
                <input type="text" placeholder="Search task...">
            </div>           
            <div class="input-parent">
                <label for="sort">Sort By:</label>
                <select name="" id="sort">
                    <option value="">option1</option>
                    <option value="">option1</option>
                    <option value="">option1</option>
                </select>
            </div>           
            <div class="input-parent">
                <label for="filter">Filter By:</label>
                <select name="" id="filter">
                    <option value="">option1</option>
                    <option value="">option1</option>
                    <option value="">option1</option>
                </select>
            </div>           
        </div>
        <div class="right-buttons">
            <div class="button-parent">
                <button>Create task +</button>
            </div>            
        </div>
    </div>
</header>
<section class="main-container">
    <div class="tasks">
        <h3>Low Priority Tasks</h3>
        <div class="task-group">
            <ng-container *ngFor= "let task of tasks">
                <div  class="task">
                    <app-task *ngIf="task.priority == 3" [task]="task"></app-task>
                </div>
            </ng-container> 
        </div>
    </div>
    <div class="tasks">
        <h3>Medium Priority Tasks</h3>
        <div class="task-group">
            <ng-container *ngFor= "let task of tasks">
                <div  class="task">
                    <app-task *ngIf="task.priority == 2" [task]="task"></app-task>
                </div>
            </ng-container>            
        </div>
        
    </div>
    <div class="tasks">
        <h3>High Priority Tasks</h3>
        <div class="task-group">
            <ng-container *ngFor= "let task of tasks">
                <div  class="task">
                    <app-task *ngIf="task.priority == 1" [task]="task"></app-task>
                </div>
            </ng-container>
        </div>        
    </div>
</section>
