<header>
    <h1>Tag Manager</h1>
    <div class="buttons-container">
        <div class="left-buttons">
            <div class="input-parent">
                <svg  fill="#BBBEBE" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                    <path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z"/>
                </svg>
                <input type="text" placeholder="Search task...">
            </div>           
            <div class="input-parent">
                <label for="sort">Sort By:</label>
                <select name="" id="sort">
                    <option value="">option1</option>
                    <option value="">option1</option>
                    <option value="">option1</option>
                </select>
            </div>           
            <div class="input-parent">
                <label for="filter">Filter By:</label>
                <select name="" id="filter">
                    <option value="">option1</option>
                    <option value="">option1</option>
                    <option value="">option1</option>
                </select>
            </div>           
        </div>
        <div class="right-buttons">
            <div class="button-parent">
                <button>Create task +</button>
            </div>            
        </div>
    </div>
</header>
<section class="main-container">
    <div class="tasks">
        <h3>Low Priority Tasks</h3>
        <div class="task-group">
            <div class="task">

            </div>
        </div>

    </div>
    <div class="tasks">
        <h3>Medium Priority Tasks</h3>
        <div class="task-group">
            <div class="task">
                
            </div>
        </div>
        
    </div>
    <div class="tasks">
        <h3>High Priority Tasks</h3>
        <div class="task-group">
            <div class="task">
                
            </div>
        </div>
        
    </div>
</section>
