<div class="card">
    <div class="left-info">
        <div class="top-info">
            <div class="info-container">
                <span class="label">Task Id : </span>
                <span title="{{task.id}}" class="data">{{task.id}}</span>
            </div>
            <div class="info-container">
                <span class="label">Create Date : </span>
                <span title="{{task.created_on}}" class="data">{{task.created_on}}</span>
            </div>
            <div class="info-container">
                <span class="label">Due Date : </span>
                <span title="{{task.due_date}}" class="data">{{task.due_date}}</span>
            </div>
        </div>
        <div class="task-description">
            <span class="label">Task Details: </span>
            <span>{{task.message}}</span>
        </div>
    </div>
    <div class="right-info">
        <div class="option-container">
            <img (click)="openEditModal()" src="../../../assets/images/pencil.svg" alt="edit">
            <img (click)="openDeleteModal()" src="../../../assets/images/delete.svg" alt="delete">
        </div>
        <div class="profile-container">
            <img src="{{getProfilePic()}}" alt="profile-pic">
            <span>{{task.assigned_to}}</span>
            <span title="{{task.assigned_name}}">{{task.assigned_name}}</span>
        </div>

    </div>
</div>