/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #76909c; 
  }
  *{
      text-overflow: ellipsis;
  }
  ::-webkit-input-placeholder { /* Edge */
    color: #119e9e;
    opacity: 0.6;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #119e9e;
    opacity: 0.6;
  }
  
  ::placeholder {
    color: #119e9e;
    opacity: 0.6;
  }
  
